@font-face {
    font-family: "ArticulatLight";
    src: url("../fonts/ArticulatLight.eot");
    src: url("../fonts/ArticulatLight?#iefix") format("embedded-opentype"), url("../fonts/ArticulatLight.woff2") format("truetype");
}
@font-face {
    font-family: "ArticulatExtraBold";
    src: url("../fonts/ArticulatExtraBold.eot");
    src: url("../fonts/ArticulatExtraBold.woff?#iefix") format("embedded-opentype"), url("../fonts/ArticulatExtraBold.woff2") format("truetype");
}
@font-face {
    font-family: "ArticulatMedium";
    src: url("../fonts/ArticulatMedium.eot");
    src: url("../fonts/ArticulatMedium.woff?#iefix") format("embedded-opentype"), url("../fonts/ArticulatMedium.woff2") format("truetype");
}

@font-face {
    font-family: "OvoRegular";
    src: url("../fonts/OvoRegular.ttf");
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "ArticulatLight";
    font-size: 62, 5%;
    color: #424e6b;
    background: #ffffff;
    margin: 0 auto;
    box-sizing: border-box;
    letter-spacing: 1px
}
.container {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
/*    border: 1px solid gray;*/
}
.container-nav {
    max-width: 1366px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header {
    height: 100px;
    width: 100%;
    box-shadow: 0px 6px 25px -6px rgba(0, 0, 0, 0.51);
}
header p.logo {
    font-family: "ArticulatExtraBold";
    font-size: 1.87em;
    display: inline-block;
    margin-left: 30px;
}
header nav ul {
    display: inline;
    position: absolute;
    top: 42px;
    right: 150px;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-right: 1.68em;
}
header nav ul li a {
    font-size: 1.12em;
    color: #424e6b;
    text-decoration: none;
}
header .icons {
    position: absolute;
    top: 39px;
    right: 30px;
}
header img.tel {
    height: 1.5em;
    margin-right: 1.68em;
}
header img.email {
    height: 1.4em;
    margin-top: 0px;
    margin-right: 1.68em;
}
h1 {
    font-family: "ArticulatExtraBold";
}
h2 {
    "ArticulatMedium";
    font-size: 2.25em;
}

/************************* HERO ***************************/
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 70px 0;
    position: relative;
}
.hero-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto;
}
.hero-text:first-child {
    display: block;
}
.hero-text span {
    color: #f7b14b;
}
p.hero-text__btn {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #424e6b;
}
.hero img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0;
    min-width: 50%;
    height: auto;
}

/************************* WELCOME *************************/
div.welcome {
    color: #ffffff;
    background: #424e6b;
    width: 750px;
    height: 280px;
    padding: 31px;
    position: relative;
    margin-left: 380px;
    margin-top: 130px;
    -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
}
div.welcome:first-child {
    font-family: "ArticulatMedium";
}
div.welcome p {
    text-align: left;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 7.5px;
}
div.welcome p:last-child {
    font-size: 14px;
    display: inline;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    margin-right: 0px;
    position: absolute;
    bottom: 2em;
    right: 2.5em;
}


/*************************SERVICES ***************************/

.services{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-number {
    font-family: "OvoRegular";
    font-size: 4.5em;
    color: #f2f2f3;
}

.services-text {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 1.5em;
}

.services div {

    flex: 1;
    max-width: 350px;
    height: 350px;
    margin: 30px;
    position: relative;
}

.services-left {

}

.services-left img {
    height: 150px;
    display: block;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translate(-50%,0);
}

.services-mid {

}

.services-mid img {
    height: 150px;
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0);
}

.services-right {

}

.services-right img {
    height: 150px;
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,0);
}



/************************* WORK WITH US ***************************/
div.work-with-us {
    color: #ffffff;
    background: #424e6b;
    width: 750px;
    height: 280px;
    padding: 31px;
    position: relative;
    margin-left: 50px;
    margin-top: 100px;
    -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.19);
}
div.work-with-us:first-child {
    font-family: "ArticulatMedium";
}
div.work-with-us p {
    text-align: left;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 7.5px;
}
div.work-with-us p:last-child {
    font-size: 14px;
    display: inline;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    margin-right: 0px;
    position: absolute;
    bottom: 2em;
    right: 2.5em;
}
