$navy: #424e6b

@font-face
     font-family: 'ArticulatLight'
     src: url('ArticulatLight.eot')
     src: url('ArticulatLight.eot?#iefix') format('embedded-opentype'),    url('../fonts/ArticulatLight.woff') format('truetype')
     font-weight: normal
     font-style: normal

body
     font-family: 'ArticulatLight'
     color: $navy
     background: #ffffff
